.container {
  margin: 100px auto;
  max-width: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.login {
  width: 100%;
  background-color: #ffffff;
  margin-top: 50px;
  border-radius: 5px;
  padding: 30px;
  box-shadow: .5px .5px 4.5px #c0c0c0;
}

.login > form {  
  display: flex;
  flex-direction: column;
}

.login form label {
  font-size: 14px;
  color: #666;
  font-weight: bold;
  margin-bottom: 8px;
}

.login form label span {
  color: #999;
  font-size: 12px;
}

.login form input {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 2px;
  height: 45px;
  padding: 0 15px;
  font-size: 16px;
}


.login input.btn {
  border-radius: 2px;
  width: 100%;
  height: 42px;
  font-size: 16px;
  font-weight: bold;
  background: #f05a5b;
  color: #fff;
  cursor: pointer;
  border: none;
}

.login input.btn:hover {
  background: #e14f50;
}
