main form div label.labelCamera img {
    width: 150px;
    height: 150px;
    margin: 50px 400px;
    border-radius: 3px;
}


main form .imgUser {
    width: 100%;
    height: 250px;
}

/* main form div.img label.labelCamera {
    width: 100%;
    height: 100%;
} */
