main {
    width: 100%;
    max-width: 960px;
    min-width: 600px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: .5px .5px 4.5px #c0c0c0;
    background-color: #ffffff;
}

main img {
    width: 150px;
    height: 150px;
    margin: 20px 0;
    border-radius: 3px;
}

main #img {
    display: none;
}