main {
    width: 100%;
    max-width: 1500px;
    min-width: 600px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 4.5px #c0c0c0;
    background-color: #fefefe;
}

p {
    text-align: center;
    font-weight: bold;
}
