main {
    width: 100%;
    max-width: 1500px;
    min-width: 600px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 4.5px #c0c0c0;
    background-color: #fefefe;
}

.produto {
    padding: 15px 25px 15px 25px;
    width: 100%;
    min-width: 360px;
    max-width: 1300px;
    margin: auto;
}

.produto .previewProduto {
    float: left;
    width: 350px;
    height: 350px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 5px #c0c0c0;
    margin: 0 41px 20px 41px;
}

.produto .previewProduto:hover {
    background-color: #fdfdfd;
    box-shadow: -9px 9px 10px #c0c0c0;
}

.produto .previewProduto img {
    width: 250px;
    height: 250px;
    margin: 15px 0 0 50px;
}

.produto .previewProduto .iconeCarrinho {
    float: right;
    top: auto;
    margin: 25px 15px 0 0;
    width: 25px;
    height: 25px;
}

.produto .previewProduto .iconeCarrinho:hover {
    cursor: pointer;
}

.produto .previewProduto .paragrafoNoCentro {
    width: 100%;
    max-width: 250px;
    margin: auto;
}

.produto .previewProduto .paragrafoNoCentro .miniDesc {
    font-size: 24px;
    padding-bottom: 4px;
    line-height: 30px;
    text-align: center;
}

.preProduto {
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.preProduto h2 {
    padding-right: 30px;
    padding-left: 40px;
}

.preProduto form div input {
    border: 1px solid #ddd;
    border-radius: 3px;
    height: 45px;
    padding: 0 15px;
    font-size: 16px;
    width: 450px;
    margin-left: 200px;
    margin-right: 50px;
    /* margin: 5px 5px 5px 5px; */
}

.preProduto form div img {
    width: 25px;
    height: 25px;
}

.echeLinguiça {
    clear: both;
}

.localSearch8 {
    margin-bottom: 20px;
}