* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: arial, verdana, sans-serif;
}

p {
    font-size: 18px;
}

body {
    background-color: #fafafa;
}

header, header section {
    display: flex;
}

header section.logo {
    position: absolute;
    left: 0;
    top: 15px;
    display: flex;
    align-items: center;
    max-width: 280px;
}

header section .logo img {
    height: 170px;
    margin-top: 10px;
}

header section .logo h1 {
    margin-left: 55px;
}

section nav {
    margin-left: 250px;
    padding: 170px 0 0 30px;
    list-style: none;
}

header section nav ul li {
    padding: 20px;
    display: inline;
}

header .user {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    padding: 30px;
}

header .user:hover {
    cursor: pointer;
}

header .user span {
    padding-left: 7px;
    font-size: 18px;
}

header section nav ul li a,
#footer ul li a,
.modal-conta-usuario a {
    text-decoration: none;
    font-size: 24px;
    color: #111;
}

#footer ul li a {
    line-height: 35px;
    margin-left: 50px;
}

footer {
    clear: both;
    padding-top: 20px;
    margin-bottom: 0;
}

.contaUserDropdown {
    width: 15px;
    height: 8px;
}

.active {
    border-bottom: 2px solid #0019a8;
}

.container {
    width: 100%;
    min-width: 360px;
    max-width: 1300px;
    margin: auto;
    margin: 50px;
}

footer,
header {
    width: 100%;
    height: 220px;
    background-color: #e9af19;
}

.infos {
    width: 100%;
    max-width: 1200px;
    min-width: 600px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 4.5px #c0c0c0;
    background-color: #f4f4f4;
}

.infos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
}

.infos article {
    margin-left: 50px;
}

.infos article h4 {
    margin-bottom: 5px;
}

.infos .info {
    margin: 15px;
    color: #666;
}

section.infos span.info.modalInfoGeral:hover {
    color: #888;
    cursor: pointer;
}

/* Modals */

.modal-conta-usuario {
    position: absolute;
    top: 80px;
    right: 15px;
    width: 200px;
    height: 80px;
    padding: 15px;
    margin-top: 5px;
    border-radius: 4px;
    background-color: #fafafa;
    align-items: center;
    box-shadow: 0.5px 0.5px 4.5px #c0c0c0;
}

.modal-conta-usuario a {
    margin: 15px;
    font-size: 18px;
}

.modal-conta-usuario hr {
    margin: 15px;
}

.modal-filtro-produtos {
    position: absolute;
}

/* Formulário */

form {
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 14px;
    color: #666;
    font-weight: bold;
    margin-bottom: 8px;
}

form input {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 2px;
    height: 45px;
    padding: 0 15px;
    font-size: 16px;
}

form .imgUser {
    height: 100px;
    border: 2px dashed #c0c0c0;
    margin-bottom: 20px;
    background-color: #fff;
}

form .imgUser input[type="file"] {
    height: 100%;
    width: 100%;
    display: none;
}

form input[type="radio"] {
    display: inline;
    height: 11.5px;
    margin: 8px 3px 20px 15px;
}

form .radio {
    display: block;
}

form label span {
    color: #ff0000;
    font-size: 14px;
}

form label[for="telefone"] span {
    color: #999;
    font-size: 10px;
}

input.btn {
    border-radius: 2px;
    width: 100%;
    height: 42px;
    font-size: 16px;
    font-weight: bold;
    background: #f05a5b;
    color: #fff;
    cursor: pointer;
    border: none;
}

input.btn:hover {
    background: #e14f50;
}

/* #accordion h3 {
    background-color: #E9AF19;
} */

iframe {
    width: 100%;
    height: 100%;
    z-index: 2;
    border: 0px;
}
