main,
#importante {
  width: 100%;
  max-width: 1200px;
  min-width: 600px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 4.5px #c0c0c0;
  background-color: #f4f4f4;
}

.processos {
  display: flex;
  margin: 50px;
}


.processos .progresso {
    display: block;
    width: 300px;
    box-shadow: 0px 6px 7px -5px #c0c0c0;
}

.processos h2 {
    text-align: center;
}

.inativo {
    border-bottom: 15px solid #ffffff;
}

.ativo {
  border-bottom: 15px solid #d19132;
}

.pronto {
    border-bottom: 15px solid #00a82d;
}

#produto {
    margin: auto;
    margin-bottom: 15px;
    background-color: orange;
    padding: 20px;
}

#produto div img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
}

#produto div {
    padding-left: 20px;
    align-items: center;
}

#produto div.carrinho {
    padding: 20px;
    display: grid;
    grid-template-columns:  1fr 1fr;
}

#produto div.carrinho div.acoesCarrinho form input[type="number"] {
    margin-bottom: 20px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #999;
    border-radius: 2px;
    height: 20px;
    padding: 0 15px;
    font-size: 16px;
}

#produto div.carrinho .flexRow {
    padding: 20px;
    display: flex;
}

#produto div.carrinho .acoesCarrinho{
    float: right;
}

#importante p {
  margin-left: 15px;
  padding-top: 15px;
  line-height: 25px;
  color: #111;
}